* {
    margin-top: 50px;
    background-color: rgb(188, 247, 129);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

select {
    background-color: rgb(144, 255, 92);
}

input {
    background-color: rgb(243, 255, 77);
}

#btnGet {
    background-color: rgb(255, 92, 92);
}